#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/* --- レイヤー番号の定義 --- */

#define DEFAULT 0
#define FUNC    1
#define NUM     2
#define ARROW   3
#define MOUSE   4
#define SCROLL  5
#define SYSTEM  6
#define US_MAP  7
#define JIS_MAP 8
#define US_DEFO 9

/* --- ロータリーエンコーダーを有効化 --- */

&left_encoder { status = "okay"; };

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    // マウスの速度（解像度）を設定

    scroll-layers = <5>;
    snipe-layers = <4>;
};

/ {
    /* --- 1. コンボ設定 --- */

    combos {
        compatible = "zmk,combos";

        // Q + W = ESC

        combo_esc {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>;
        };

        // F + G = 左クリック (マウスレイヤーに入らなくても押せる)

        combo_click {
            bindings = <&mkp MB1>;
            key-positions = <13 14>;
        };

        // , + . = ー（長音符/マイナス）

        combo_minus {
            bindings = <&kp MINUS>;
            key-positions = <31 32>;
        };

        // S + D = Alt + Tab (アプリ切り替え)

        combo_alttab {
            bindings = <&kp LA(TAB)>;
            key-positions = <11 12>;
        };

        // I + O = Delete (右側の文字を消す)

        combo_del {
            bindings = <&kp DELETE>;
            key-positions = <7 8>;
        };
    };

    /* --- 2. マクロ設定 --- */

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        macro_s: macro_s {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&kp H &kp O &kp N &kp N &kp A &kp D &kp A &kp I>;
            label = "MACRO_S";
        };

        macro_d: macro_d {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&kp LS(A) &kp N2 &kp N9 &kp N5 &kp X &kp P>;
            label = "MACRO_D";
        };
    };

    /* --- 3. 挙動(Behaviors)設定 --- */

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        encoder_msc_down_up: encoder_msc_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_MSC_DOWN_UP";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

            tap-ms = <20>;
        };
    };

    /* --- 4. キーマップ本体（全レイヤー 43キーで統一） --- */

    keymap {
        compatible = "zmk,keymap";

        /* 0: DEFAULT (JIS OS 用) */

        default_layer {
            bindings = <
&kp Q                 &kp W         &kp E     &kp R     &kp T                                                 &kp Y        &kp U  &kp I        &kp O    &kp P
&kp A                 &kp S         &kp D     &kp F     &kp G               &kp LS(LG(S))      &kp DELETE     &kp H        &kp J  &lt 5 K      &kp L    &mt RIGHT_CONTROL MINUS
&mt LSHIFT Z          &kp X         &kp C     &kp V     &kp B               &kp LEFT_ALT       &kp ESCAPE     &kp N        &kp M  &lt 4 COMMA  &kp DOT  &mt RIGHT_SHIFT SLASH
&mt LCTRL LANGUAGE_2  &kp LEFT_ALT  &mkp MB2  &mkp MB1  &mt LEFT_WIN SPACE  &lt 8 TAB          &kp BACKSPACE  &lt 3 ENTER                               &mt RIGHT_CONTROL LANGUAGE_1
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        NUM {
            bindings = <
&kp SLASH     &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp MINUS                                                 &kp SLASH     &kp F2          &kp UP_ARROW  &kp F4     &kp MINUS
&kp ASTERISK  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp LS(SEMICOLON)  &kp LC(LA(KP_N0))      &kp UNDERSCORE  &kp ASTERISK  &kp LEFT_ARROW  &kp DOWN      &kp RIGHT  &kp RS(SEMICOLON)
&trans        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans             &kp EQUAL              &trans          &trans        &kp F7          &kp F8        &trans     &trans
&trans        &trans        &trans        &kp NUMBER_0  &trans             &trans                 &trans          &trans                                                 &trans
            >;
        };

        FUNCTION {
            bindings = <
&trans  &trans  &trans  &trans  &trans                       &kp F3  &kp F2    &kp UP    &kp F4     &kp F5
&trans  &trans  &trans  &trans  &trans  &trans      &kp F13  &kp F6  &kp LEFT  &kp DOWN  &kp RIGHT  &kp F10
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans  &kp F7    &trans    &kp F8     &kp F11
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans                                 &kp F12
            >;
        };

        ARROW {
            bindings = <
&kp PAGE_UP    &kp F2    &kp UP_ARROW    &kp F4        &kp MINUS                         &kp SLASH     &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp MINUS
&kp PAGE_DOWN  &kp LEFT  &kp DOWN_ARROW  &kp RIGHT     &kp LS(SEMI)  &trans      &trans  &kp ASTERISK  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp PLUS
&kp NUMBER_0   &kp F7    &kp F8          &kp F11       &trans        &trans      &trans  &kp PERIOD    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_0
&trans         &trans    &trans          &kp NUMBER_0  &trans        &trans      &trans  &trans                                                  &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans     &mkp MB2   &kp UP    &kp F4     &trans                      &trans  &trans    &trans  &trans    &trans
&mkp MB4   &mkp MB2   &mo 5     &mkp MB1   &trans  &trans      &trans  &trans  &mkp MB2  &trans  &mkp MB4  &mt RIGHT_CONTROL MINUS
&kp RC(Z)  &kp RC(X)  &kp DOWN  &kp RC(V)  &trans  &trans      &trans  &trans  &mkp MB1  &trans  &mkp MB2  &mkp MB4
&trans     &trans     &trans    &trans     &trans  &trans      &trans  &trans                              &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        SYSTEM {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                           &trans  &trans  &trans  &trans  &trans
&trans        &macro_s        &macro_d      &macro_s      &trans        &trans      &trans       &trans  &trans  &trans  &trans  &trans
&bt BT_CLR    &bt BT_CLR_ALL  &kp N2        &kp N3        &trans        &trans      &bootloader  &trans  &trans  &trans  &trans  &trans
&trans        &trans          &trans        &trans        &trans        &trans      &trans       &trans                          &trans
            >;
        };

        US_MAP {
            bindings = <
&kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT                      &kp LCTRL  &kp AMPS     &kp LPAR  &kp RPAR  &kp EQUAL
&trans    &trans  &trans    &trans    &trans     &trans      &trans  &kp TILDE  &kp RS(SQT)  &kp LBKT  &kp RBKT  &kp MINUS
&trans    &trans  &trans    &trans    &trans     &trans      &trans  &kp DQT    &kp DQT      &kp LT    &kp GT    &kp QUESTION
&trans    &trans  &trans    &trans    &trans     &trans      &trans  &trans                                      &trans
            >;
        };

        JIS_MAP {
            bindings = <
&kp EXCL  &kp LBKT  &kp HASH  &kp DLLR  &kp PRCNT                      &kp UNDERSCORE  &kp SQT   &kp STAR  &kp LPAR  &kp EQUAL
&kp ESC   &trans    &macro_s  &macro_d  &macro_s   &trans      &trans  &kp AMPS        &kp SQT   &kp RBKT  &kp BSLH  &kp RS(INT1)
&trans    &trans    &trans    &trans    &macro_d   &trans      &trans  &kp AT          &kp PLUS  &kp PLUS  &kp SQT   &kp RS(QUESTION)
&trans    &trans    &trans    &trans    &trans     &trans      &trans  &trans                                        &trans
            >;
        };

        US_DEFO {
            bindings = <
&kp ESCAPE        &mt LEFT_WIN W    &kp E               &kp R             &kp T                                                        &kp Y                   &kp U  &kp I      &kp O    &kp P
&kp A             &mt LEFT_SHIFT S  &mt LEFT_CONTROL D  &kp F             &kp G        &kp LS(LG(S))                    &kp DELETE     &kp H                   &kp J  &kp K      &kp L    &mt RIGHT_CONTROL MINUS
&mt LEFT_SHIFT Z  &kp X             &kp C               &kp V             &kp B        &kp Q                            &kp SEMICOLON  &kp N                   &kp M  &kp COMMA  &kp DOT  &mt RIGHT_SHIFT SLASH
&kp TAB           &kp LEFT_ALT      &kp LEFT_ALT        &lt 6 LANGUAGE_2  &lt 4 SPACE  &lt_to_layer_0 7 LANGUAGE_1      &kp BACKSPACE  &lt_to_layer_0 3 ENTER                             &kp RIGHT_ALT
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };
    };
};
